<th:block xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" th:content="${resources.description}" />
    <meta name="keywords" th:content="${resources.keywords}" />
    <title th:text="${resources.title}"></title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/minedin.css" />
</th:block>