<th:block xmlns:th="http://www.thymel">
    <div class="container mt-4">
        <div class="row mx-auto w-75 justify-content-center">
            <h4>If you have any questions please contact me by</h4>
        </div>
        <div class="row mx-auto w-75 justify-content-center mt-4">
            <div class="col text-left">
                <a href="mailto:tverdokhlebd@gmail.com"><img src="/img/gmail.png" height="24" width="24"> tverdokhlebd@gmail.com</img></a>
            </div>
            <div class="w-100"></div>
            <div class="col text-left mt-2">
                <a href="skype:dietrich_stier?chat"><img src="/img/skype.png" height="24" width="24"> dietrich_stier</img></a>
            </div>
            <div class="w-100"></div>
            <div class="col text-left mt-2">
                <a href="https://telegram.me/tverdokhlebd"><img src="/img/telegram.png" height="24" width="24"> tverdokhlebd</img></a>
            </div>
        </div>
    </div>
</th:block>