<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container mt-4">
        <th:block layout:include="fragments/coin" />
        <div class="row mx-auto w-75 justify-content-center mt-4">
            <h3 th:text="@{${resources.your_balance_is + #numbers.formatDecimal(usd_balance, 1, 2)}}"></h3>
        </div>
        <div class="row mx-auto w-75 justify-content-center">
            <h6>
                <a target="_blank" th:href="${resources.bestchange_affiliate_link}" th:text="${resources.click_to_exchange}"> </a>
            </h6>
        </div>
        <div class="row mx-auto w-75 justify-content-center mt-4">
            <div class="col text-center font-weight-light" th:text="@{${resources.pool_info + ' (' + pool_info.getName() + ')'}}"></div>
            <div class="w-100"></div>
            <div class="col text-left" th:text="${resources.balance}"></div>
            <div class="col text-right font-weight-light" th:text="@{${coin_balance + ' ' + coin_type.name()}}"></div>
            <div class="w-100"></div>
            <div class="col text-left" th:text="${resources.hashrate}"></div>
            <div class="col text-right font-weight-light"
                th:text="${T(com.tverdokhlebd.minedin.utils.ReadableHashrateUtil).convertToReadableHashPower(coin_reward.getReportedHashrate())}"></div>
        </div>
        <div class="row mx-auto w-75 justify-content-center mt-4">
            <div class="col text-center font-weight-light" th:text="${resources.estimated_rewards}"></div>
            <table class="table table-borderless text-center">
                <thead>
                    <tr>
                        <th scope="col" th:text="${resources.per}"></th>
                        <th scope="col" th:text="${coin_type.name()}"></th>
                        <th scope="col" th:text="${resources.btc}"></th>
                        <th scope="col" th:text="${resources.usd}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${resources.hour}"></td>
                        <td th:text="${coin_reward.getRewardPerHour()}"></td>
                        <td th:text="@{${coin_reward.getRewardPerHour() / coin_in_btc}}"></td>
                        <td th:text="@{${#numbers.formatDecimal(coin_reward.getRewardPerHour() * coin_price, 1, 6)}}"></td>
                    </tr>
                    <tr>
                        <td th:text="${resources.day}"></td>
                        <td th:text="${coin_reward.getRewardPerDay()}"></td>
                        <td th:text="@{${coin_reward.getRewardPerDay() / coin_in_btc}}"></td>
                        <td th:text="@{${#numbers.formatDecimal(coin_reward.getRewardPerDay() * coin_price, 1, 6)}}"></td>
                    </tr>
                    <tr>
                        <td th:text="${resources.week}"></td>
                        <td th:text="${coin_reward.getRewardPerWeek()}"></td>
                        <td th:text="@{${coin_reward.getRewardPerWeek() / coin_in_btc}}"></td>
                        <td th:text="@{${#numbers.formatDecimal(coin_reward.getRewardPerWeek() * coin_price, 1, 6)}}"></td>
                    </tr>
                    <tr>
                        <td th:text="${resources.month}"></td>
                        <td th:text="${coin_reward.getRewardPerMonth()}"></td>
                        <td th:text="@{${coin_reward.getRewardPerMonth() / coin_in_btc}}"></td>
                        <td th:text="@{${#numbers.formatDecimal(coin_reward.getRewardPerMonth() * coin_price, 1, 6)}}"></td>
                    </tr>
                    <tr>
                        <td th:text="${resources.year}"></td>
                        <td th:text="${coin_reward.getRewardPerYear()}"></td>
                        <td th:text="@{${coin_reward.getRewardPerYear() / coin_in_btc}}"></td>
                        <td th:text="@{${#numbers.formatDecimal(coin_reward.getRewardPerYear() * coin_price, 1, 6)}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>