<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron d-flex align-items-center">
        <div class="container text-center">
            <h2 th:text="${text.select_coin_to_calculate}"></h2>
            <div class="mt-4">
                <tr th:each="coin : ${coin_list}">
                    <a th:href="@{${'/' + coin.coin.symbol}}" th:text="${coin.coin.symbol}" role="button"
                        class="btn btn-outline-dark btn-lg pr-5 pl-5 mr-4 ml-4 mb-4"></a>
                </tr>
            </div>
        </div>
    </div>
</th:block>